build:
  maxIssues: 0
  weights:
    complexity: 2
    style: 1

config:
  validation: true
  warningsAsErrors: true

comments:
  active: true

  UndocumentedPublicClass:
    active: true
  UndocumentedPublicFunction:
    active: true
    excludes: ["**/*Test.kt", "**/test/**", "**/androidTest/**"]

complexity:
  active: true

  CyclomaticComplexMethod:
    active: true
    threshold: 15
  LongMethod:
    active: true
    threshold: 60
  LargeClass:
    active: true
    threshold: 300
  TooManyFunctions:
    active: true
    thresholdInClasses: 15

naming:
  active: true
  PackageNaming:
    active: true
    packagePattern: '[a-z]+(\.[a-z][a-z0-9]*)*'

  BooleanPropertyNaming:
    active: true
    allowedPattern: '^(is|has|should|can|must)[A-Z].*'

style:
  active: true

  ForbiddenComment:
    active: true
    comments:
      - "TODO:.*"
      - "FIXME:.*"
      - "STOPSHIP:.*"

  ForbiddenImport:
    active: true
    imports:
      - "android.content.Context"
      - "android.view.View"
      - "android.content.res.Resources"
      - "android.widget.*"
    excludes:
      - "**/ui/**"
      - "**/*Fragment.kt"
      - "**/*Activity.kt"
      - "**/*Adapter.kt"

  VarCouldBeVal:
    active: true
  DataClassShouldBeImmutable:
    active: true

  ExpressionBodySyntax:
    active: true

potential-bugs:
  active: true

  DoubleMutabilityForCollection:
    active: true

  LateinitUsage:
    active: true
    excludes: ["**/ui/**", "**/*Fragment.kt", "**/*Activity.kt"]

exceptions:
  active: true

  TooGenericExceptionCaught:
    active: true
    exceptionNames: ["Error", "Exception", "Throwable"]
  SwallowedException:
    active: true

formatting:
  active: true
  Indentation:
    active: true
    indentSize: 4
  MaximumLineLength:
    active: true
    maxLineLength: 120